<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="KetQuaDung" class="valid-feedback trangThai" style="display: block">
  Đổi mật khẩu thành công
</div>
<div id="KetQuaSai" class="invalid-feedback trangThai" style="display: block">
  Mật khẩu sai!
</div>
<div id="maHH" class="invalid-feedback message" style="display: block">
    Mã đã tồn tại!
</div>
<div id="maHH1" class="message" style="display: none">
</div>

<div id="checkMaPhieu" class="invalid-feedback message" style="display: block">
    Mã phiếu đã tồn tại!
</div>
</body>
</html>